main {
    display: block;
    text-align: center !important;
    align-items: center !important;
}

main select {
    margin: auto;
    margin-bottom: 20px;
}

main div {
    width: 900px;
    height: 300px;
    margin: auto;
}

 main span {
    width: 200px;
 }

/* ymaps {
    width: 900px !important;
    height: 500px !important;
} */